student_id         = "stagiaire01"
resource_suffix    = "nginx"
aws_region         = "eu-west-1"
availability_zone  = "eu-west-1a"
ami_id             = "ami-xxxxxxxxxxxxxxxxx"
instance_type      = "t3.micro"
key_pair_name      = ""
allowed_ssh_cidrs  = ["0.0.0.0/0"]
